{% extends 'base_company.html' %}
{% block title %}Empresas - Visualizar{% endblock %}
{% block content %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Visualização - {{ company.name }}</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'home-company' %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <strong>Nome: </strong> {{ company.name }}<br>
        <strong>CNPJ: </strong> {{ company.cnpj }}<br>
        <strong>Contato: </strong> {{ company.tel }}<br>
    </div>
{% endblock %}