{% extends 'base_product.html' %}
{% block title %}Produtos{% endblock %}
{% block content %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Listagem de Produtos</h1>
            <form class="form-inline col-4 m-auto mt-3" method="GET">
                    <div class="form-group mb-2">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" name="search" value="{{ request.GET.search }}">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
            </form>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-outline-dark">Novo Produto</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    {% if request.GET.search %}
                        <th scope="col"><a href="?search={{ request.GET.search }}&order=pk" style="text-decoration: none; color:white;">ID</a></th>
                        <th scope="col"><a href="?search={{ request.GET.search }}&order=name" style="text-decoration: none; color:white;">Nome</a></th>
                        <th scope="col"><a href="?search={{ request.GET.search }}&order=description" style="text-decoration: none; color:white;">Decrição</a></th>
                        <th scope="col"><a href="?search={{ request.GET.search }}&order=price" style="text-decoration: none; color:white;">Preço</a></th>
                        <th scope="col"><a href="?search={{ request.GET.search }}&order=amount" style="text-decoration: none; color:white;">Quantidade</a></th>
                    {% else %}
                        <th scope="col"><a href="?order=pk" style="text-decoration: none; color:white;">ID</a></th>
                        <th scope="col"><a href="?order=name" style="text-decoration: none; color:white;">Nome</a></th>
                        <th scope="col"><a href="?order=description" style="text-decoration: none; color:white;">Decrição</a></th>
                        <th scope="col"><a href="?order=price" style="text-decoration: none; color:white;">Preço</a></th>
                        <th scope="col"><a href="?order=amount" style="text-decoration: none; color:white;">Quantidade</a></th>
                    {% endif %}
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for p in product %}
            <tr>
                <th>{{ p.id }}</th>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.amount }}</td>
                <td>
                    <a href="view/{{ p.id }}/" class="btn btn-light btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="update/{{ p.id }}/" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>

                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal_{{ p.id }}">
                        <i class="fas fa-trash"></i>
                    </button>
                    <div class="modal fade text-dark" id="exampleModal_{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Deletar produto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                Deseja mesmo deletar o produto selecionado?
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <a href="delete/{{ p.id }}/" type="button" class="btn btn-danger">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {% if request.GET.search and request.GET.order %}
                            {% if product.has_previous %}
                                <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                            {% endif %}
                        {% elif request.GET.search %}
                            {% if product.has_previous %}
                                <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-left"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                            {% endif %}
                        {% else %}
                            {% if product.has_previous and request.GET.order %}
                                <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                            {% elif product.has_previous %}
                                <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                            {% endif %}
                        {% endif %}
                    </li>
                    
                    {% for count_page in product.paginator.page_range %}
                        {% if request.GET.search and request.GET.order %}
                            <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}&order={{ order }}">{{ count_page }}</a></li>
                        {% elif request.GET.search %}
                            <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}">{{ count_page }}</a></li>
                        {% elif request.GET.order %}
                            <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&order={{ order }}">{{ count_page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}">{{ count_page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item">
                        {% if request.GET.search and request.GET.order%}
                            {% if product.has_next %}
                                <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                            {% endif %}
                        {% elif request.GET.search %}
                            {% if product.has_next %}
                                <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-right"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                            {% endif %}
                        {% else %}
                            {% if product.has_next and request.GET.order %}
                                <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                            {% elif product.has_next %}
                                <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                            {% else %}
                                <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}