<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Listagem de Produtos</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'home-company' %}" class="btn btn-outline-primary"><i class="fas fa-fast-forward"></i></a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-primary">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for p in product %}
            <tr>
                <th>{{ p.id }}</th>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.amount }}</td>
                <td>
                    <a href="view/{{ p.id }}/" class="btn btn-light btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="update/{{ p.id }}/" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>

                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal_{{ p.id }}">
                        <i class="fas fa-trash"></i>
                    </button>
                    <div class="modal fade text-dark" id="exampleModal_{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Deletar produto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                Deseja mesmo deletar o produto selecionado?
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <a href="delete/{{ p.id }}/" type="button" class="btn btn-danger">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {% if product.has_previous %}
                            <a class="page-link" href="?page={{ product.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                        {% endif %}
                    </li>
                    
                    {% for count_page in product.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ count_page }}">{{ count_page }}</a></li>
                    {% endfor %}
    
                    <li class="page-item">
                        {% if product.has_next %}
                            <a class="page-link" href="?page={{ product.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</body>
</html>