{% extends 'base_navbar.html' %}
{% block title %}Alterar{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: rgb(3, 30, 61);">
    <H1 style="color:white; margin-top: 50px; text-align: center;">Alterar dados do Usuário</H1>

    {% if messages %}
        <div class="pt-3">
            <ul class="messages">
                {% for message in messages %}
                <ul {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</ul>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card" style=" margin-top: 50px;">
                <div class="card-body">
                    <h4 class="card-title text-center">Alterar</h4>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="text" value="{{ next }}">

                        <strong>
                            {{ form|crispy }}
                        </strong>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block" style=" margin-top: 20px;">Alterar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}