{% if product %}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if request.GET.search and request.GET.order %}
                    {% if product.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% elif request.GET.search %}
                    {% if product.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% else %}
                    {% if product.has_previous and request.GET.order %}
                        <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% elif product.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ product.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% endif %}
            </li>
            
            {% for count_page in product.paginator.page_range %}
                {% if request.GET.search and request.GET.order %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}&order={{ order }}">{{ count_page }}</a></li>
                {% elif request.GET.search %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}">{{ count_page }}</a></li>
                {% elif request.GET.order %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&order={{ order }}">{{ count_page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}">{{ count_page }}</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item">
                {% if request.GET.search and request.GET.order%}
                    {% if product.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% elif request.GET.search %}
                    {% if product.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% else %}
                    {% if product.has_next and request.GET.order %}
                        <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% elif product.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ product.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </nav>
</div>

{% elif company %}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if request.GET.search and request.GET.order %}
                    {% if company.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ company.previous_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% elif request.GET.search %}
                    {% if company.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ company.previous_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% else %}
                    {% if company.has_previous and request.GET.order %}
                        <a class="page-link" style="color:black" href="?page={{ company.previous_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% elif company.has_previous %}
                        <a class="page-link" style="color:black" href="?page={{ company.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                {% endif %}
            </li>
            
            {% for count_page in company.paginator.page_range %}
                {% if request.GET.search and request.GET.order %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}&order={{ order }}">{{ count_page }}</a></li>
                {% elif request.GET.search %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&search={{ request.GET.search }}">{{ count_page }}</a></li>
                {% elif request.GET.order %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}&order={{ order }}">{{ count_page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" style="color:black" href="?page={{ count_page }}">{{ count_page }}</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item">
                {% if request.GET.search and request.GET.order%}
                    {% if company.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ company.next_page_number }}&search={{ request.GET.search }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% elif request.GET.search %}
                    {% if company.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ company.next_page_number }}&search={{ request.GET.search }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% else %}
                    {% if company.has_next and request.GET.order %}
                        <a class="page-link" style="color:black" href="?page={{ company.next_page_number }}&order={{ order }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% elif company.has_next %}
                        <a class="page-link" style="color:black" href="?page={{ company.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% else %}
                        <a class="page-link" style="color:rgb(129, 127, 127)" href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </nav>
</div>

{% endif %}